{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}

<h1>Welcome {{parent.user}}</h1>
<div class = 'layout_parent'>
    <div class = 'subjects_p'>
        {% with xss=student.xclass %}
        {% for c in xss.subjects.all %}
        <li>
            <p>{{c.subject_name}}</p>
        </li>
        {% endfor %}
        {% endwith %}
    </div>
    <div class = 'grades_p'>
        <p>Grades</p>
        {% for grade in student.grades.all %}
        <li>
            <p>
                {{grade.grade}}
                in 
                {{grade.subject}}
            </p>
        </li>
        {% endfor %}
    </div>
    <div class = 'absences_p'>
        <p>Absences</p>
        {% for absence in student.absences.all %}
        <li>
            <p>
                {{absence.date}}
                in 
                {{absence.subject}}
            </p>
        </li>
        {% endfor %}
    </div>
    <div class = 'contact_p'>
        <p class = 'pid'>Contact</p>
        {% with xss=student.xclass %}
        {% for tech in xss.teachers.all %}
        <li>
            <p>{{tech}}</p>
        </li>
        {% endfor %}
        {% endwith %}
    </div>
    
</div>

{% endblock %}