.auth_b button {
    position: relative;
    font-size: 25px;
    display: inline-block;
    background-color: #4CAF50;
    border: 1px solid rgb(34, 98, 34);
    color: white;
    padding: 10px 24px;
    cursor: pointer; 
    width: 50%;
    display: block;
    text-align: center;
    margin: auto;
}

.heading {
    text-align: center;
}

