{% extends "authentification/layout.html" %}

{% block body %}

<div class = "heading">
    <h1>Student Sign-Up</h1>
</div>

<form action = '' method = "post">
    {% csrf_token %}
    <p class = 'yes'>First Name</p>
    {{ form.first }}
    <p class = 'yes'>Last Name</p>
    {{ form.last }}
    <p class = 'yes'>Username</p>
    {{ form.user }}
    <p class = 'yes'>Password</p>
    {{ form.password }}
    <p class = 'yes'> Email</p>
    {{ form.email }} 
    <p class = 'yes'> Details </p>
    {{ form.details }}
    <p class = 'yes'> Class</p>
    {{ form.Xclass }}
    <input type = "submit" value = "Submit">
</form>

{% endblock %}