{% extends "student/layout.html" %}

{% load static %}
{% block body %}

<h1 class = "titlumat">{{subject.subject_name}}</h1>


<div>
    <h3 class = "note">Grades</h3>
    {% for grade in grades %}
    <ul>
        <li class = "noteletale">{{grade.grade}} on {{grade.date}}</li>
    </ul>
    {% endfor %}
</div>

<div>
    <h3 class = "abse">Absences</h3>
    {% for absx in absences %}
    <ul>
        <li class = "abso">{{absx.date}}</li>
    </ul>
    {% endfor %}
    <p>Total number of absences : {{absences.count}}</p>
</div>

<div>
    <h3 class = "taskuri">Tasks</h3>
    {% for doc in subject.documents.all %}
    <ul>
        <li>{{doc.task}} due to {{doc.date}}</li>
    </ul>
    {%endfor%}
</div>

{% endblock %}